html, body {
		margin: 0;
		padding: 0;
		width: 100%;
		font-family: arial;
	}
	.right {
		float: right;
	}
	.left{
		float: left;
	}
		#conteiner-1 {
			background-color: #FBFBFB;
			height: 100px;

		}
			#block-1 {
				width: 1080px;
				margin: 0 auto 0 auto;

			}
				#menu-links{
					margin-top: 35px;
				}
				#topline a {
					color: black;
					text-decoration: none;
					margin-right: 25px;
					font-size: 14px;
				}
				#topline a:hover{
					text-decoration: underline;
					color: #EC7190;
				}
				#phone-block  {
					display: flex;
					align-items: center;
					padding-top: 30px;
				}

				#phone {
					font-size: 24px;
					font-weight: bold;

				}
				#order-call {
					margin-left: 25px;
					width: 180px;
					height: 35px;
					border: 2px solid #EC7190;
					background: transparent;
					color: #EC7190;
					font-weight: bold;
				}

#container-photo {
			background-color: #FBFBFB;
			height: 450px;
			margin: 0 auto 0 auto;
			background-image: url(gowxking.github.io/images/container-photo.png);
			background-repeat: no-repeat;
			background-position: 85%;
}
	#container-name{
		width: 1080px;
		margin: 0 auto 0 auto;
	}
		#container-name p{
		font-size: 1.3vw;
		color: gray;
		font-weight: 100;
		padding-left: 10px;
	}
		#name {
			color: #1c1c1c;
			font-size: 5vw;
			font-weight: bold;
			margin-top: 150px;
			float: bottom;
		}

		#watch-more {
			position: relative;
			right: 44%;
			margin-top: 310px;
    		width: 180px;
		    height: 38px;
		    background-color: #ff4e2e;
		    border: none;
		    color: white;
		}
		#watch-price {
    		width: 180px;
		    height: 38px;
		    background-color: #ff4e2e;
		    border: none;
		    color: white;
		    margin-top: 35px;
		    margin-bottom: 50px;
		}
#what-i-do {
	font-size: 2vw;
	color: #1c1c1c;
	font-weight: 750;
	text-align: center;
	margin-top: 25px;
}
.skills {
	color: gray;
    font-size: 8pt;
    margin: auto;
    margin-top: 22px;
    width: 80%;


}
.skills div {
	display: inline-block;
    width: 200px;
    text-align: center;
    margin-right: 7%;
    margin-bottom: 20px;
}
#examples-my{
	font-size: 2vw;
	color: #1c1c1c;
	font-weight: 750;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 35px;
}
